.room-container {
  overflow: hidden;
}

.chat-card {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1em;

}

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  padding-top: 20px;
  word-break: break-all;
}

.main {
  margin-right: 350px; /* Same as the width of the sidenav */
  padding-right: 10px;
}

.game-window {
  overflow: hidden;
  /*border:1px solid black;*/
  border-radius: 10px;
  background-color: #D4D4D4;
}
