.game-window {
  height: 800px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #D4D4D4;
  transition: 0.5s;
}

.header {
  border: 2px solid black;
  border-radius: 6px;
  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  display: block;
  float: left;
  width: 66%;
}

.header:hover {
  background-color: #888888;
}

.hand {
  height: 700px;
  width: 250px;
  position: relative;
  float: right;
}

.hand-container {
  position: relative;
  margin: 50px;
  float: right;
}

.card {
  margin-bottom: -150px;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 6px;
  position: relative;
  background-color: #D4D4D4;
  transition:.5s;
  display: inline-block;
}

.card:hover {
  margin-bottom: -40px;
  background-color: #888888;

}

.answers {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 350px);
  height: 65%;
  margin: 20px;
}

.answer-container {
  position: relative;
  margin: 10px;
  float: right;
}

.row {
  position: relative;
  height: 330px;
  /*overflow: hidden;*/
  width:100%;
}

.chose-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  /*width: 50px;*/
  /*height: 30px;*/
}

@media screen and (max-width: 800px) {

  .game-window {
    padding: 5px;
    height: auto;
  }

  .header {
    border: 0;
    position: relative;
    width: 100%;
    margin: 0 0 40px 0;
    height: auto;
    padding: 2px;
  }

  .answers {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 0px 0;
  }

  .answer-container {
    margin: 0;
    width: 100%;
    padding-bottom: 40px;
  }

  .hand {
    position: relative;
    width: 100%;
    height: auto;
  }

  .hand-container {
    margin: 0;
    width: 100%;
    float: left;
  }

  .card {
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: -20px;
    position: relative;
  }
  .card:hover {
    margin-bottom: -10px;
  }

  .chose-button {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
    bottom: 0;
    width: 100px;
  }

  .card-text {
    position: relative;
    display: inline-block;
  }

}



