<div class="game-window">
  <div class="hand">
    <div class="hand-container">
      <div [@fadeAnimation]="selectedCards.indexOf(card.id) >= 0 ? 'collapsed' : 'expanded' " *ngFor="let card of cards" (click)="onSelect(card.id)" class="card" [innerHtml]="card.text">
        <!--{{card.text}}-->
      </div>
    </div>
  </div>
  <div *ngIf="question" class="header" [innerHtml]="question.text">

  </div>

  <div class="answers">
    <div class="row">
      <div *ngFor="let answer of answers" class="answer-container">
        <div [@fadeAnimation]="false ? 'collapsed' : 'expanded' " class="card" *ngFor="let card of answer.cards; let last = last">
          <div class="card-text" [innerHtml]="card.text">

          </div>
          <button *ngIf="last && chooseButtonsActive" (click)="chooseWinner(answer.owner)" class="chose-button" pButton label="ok"></button>
        </div>
      </div>
    </div>
  </div>

</div>



