.hand {
  height: 700px;
  width: 250px;
  position: absolute;
  right: 0px;
}



.hand-container {
  position: relative;
  margin: 50px;
  float: right;
}

.game-window {
  height: 800px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card {
  margin-bottom: -150px;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 6px;
  position: relative;
  background-color: #D4D4D4;
  transition:.5s;
}

.card:hover {
  margin-bottom: -40px;
  background-color: #888888;

}

.header {
  border: 2px solid black;
  border-radius: 6px;
  /*width: 300px;*/
  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 300px;
}

.header:hover {
  background-color: #888888;
}


.answers {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 350px);
  height: 65%;
  margin: 20px;


}

.row {
  position: relative;
  height: 330px;
  /*overflow: hidden;*/
  width:100%;
}

.answer-container {
  position: relative;
  margin: 10px;
  float: right;
}

.chose-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  /*width: 50px;*/
  /*height: 30px;*/
}



