<mat-tab-group [selectedIndex]="activeTab">
  <mat-tab label="Main chat">
    <div #chatWindow class="chat-card">
      <div>
        <p *ngFor="let msg of messages; let last = last">
          {{ msg }}
          <br>
          <span *ngIf="last">{{scroll()}}</span>
        </p>
      </div>
    </div>
    <form>
      <mat-form-field style="width: 100%;">
        <textarea matInput [(ngModel)]="textAreaMsgGlobal" name="textAreaMsgGlobal" (input)="sendGlobalMessage($event.target.value)" style="font-size: 16px;" placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab *ngIf="!roomChatActive" label="Room chat" disabled></mat-tab>
  <mat-tab *ngIf="roomChatActive" label="Room chat">

    <div class="setup-panel">
      <button [disabled]="!startButtonActive" pButton (click)="startGame()" label="Start" style="margin: 5px"></button>
    </div>

    <div class="user-list">
      <div *ngFor="let user of userList" class="user-item" data-toggle="tooltip" title="{{user}}">
        <i class="fa fa-user"></i><span> {{ user }} </span>
        <span class="score" *ngIf="scores[user]"> {{ scores[user] }} </span>
        <span class="score" *ngIf="!scores[user]"> 0 </span>
      </div>
    </div>

    <div #localChatWindow class="chat-card-local">
      <div>
        <p *ngFor="let msg of messagesLocal; let last = last">
          {{ msg }}
          <br>
          <span *ngIf="last">{{scrollLocal()}}</span>
        </p>
      </div>
    </div>
    <form>
      <mat-form-field style="width: 100%;">
        <textarea matInput [(ngModel)]="textAreaMsgLocal" name="textAreaMsgLocal" (input)="sendLocalMessage($event.target.value)" style="font-size: 16px;" placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
  </mat-tab>

</mat-tab-group>
