
.chat-tabs {
  white-space-collapsing:discard;
}

.start-button {
  width: 100%;
}

.tab-panel {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 800px;
}

.chat-form {
  flex: 0 1 40px;
}

.chat-card {
  margin: 5px;
  font-size: 13px;
  line-height: 1em;
  border:solid 1px #D4D4D4;
  overflow-y:auto;
  flex: 1 1 auto;
}

.user-list {
  margin: 5px;
  position: relative;
}

.user-item {
  position: relative;
  width: 100%;
  padding: 5px;
  border: solid 1px #D4D4D4;
  font-size: 15px;
  margin-bottom: 5px;
}

.score {
  color: red;
  position: relative;
  float: right;
}

.setup-panel {
  border: solid 1px #D4D4D4;
  margin: 5px;
}



