
<p-tabView [styleClass]="'chat-tabs'" [activeIndex]="activeTab">
  <p-tabPanel headerStyleClass="chat-tab-header" header="{{'cah/global_chat' | translate}}">

    <div class="tab-panel">

      <div #chatWindow class="chat-card">
        <div>
          <p *ngFor="let msg of messages; let last = last">
            {{ msg }}
            <br>
            <span *ngIf="last">{{scroll()}}</span>
          </p>
        </div>
      </div>

      <div class="chat-form">
        <form>
          <mat-form-field style="width: 100%;">
          <textarea matInput [(ngModel)]="textAreaMsgGlobal" name="textAreaMsgGlobal"
                    (input)="sendGlobalMessage($event.target.value)" style="font-size: 16px;"
                    placeholder="Leave a comment"></textarea>
          </mat-form-field>
        </form>
      </div>

    </div>


  </p-tabPanel>
  <p-tabPanel headerStyleClass="chat-tab-header" header="{{'cah/local_chat' | translate}}" [disabled]="!roomChatActive">
    <div class="tab-panel">
      <div class="setup-panel">
        <button [disabled]="!startButtonActive" pButton (click)="startGame()" label="Start" class="start-button"></button>
      </div>

      <div class="user-list">
        <div *ngFor="let user of userList" class="user-item" data-toggle="tooltip" title="{{user}}">
          <i class="fa fa-user"></i><span> {{ user }} </span>
          <span class="score" *ngIf="scores[user]"> {{ scores[user] }} </span>
          <span class="score" *ngIf="!scores[user]"> 0 </span>
        </div>
      </div>

      <div #localChatWindow class="chat-card">
        <div>
          <p *ngFor="let msg of messagesLocal; let last = last">
            {{ msg }}
            <br>
            <span *ngIf="last">{{scrollLocal()}}</span>
          </p>
        </div>
      </div>

      <div>
        <form class="chat-form">
          <mat-form-field style="width: 100%;">
            <textarea matInput [(ngModel)]="textAreaMsgLocal" name="textAreaMsgLocal"
                  (input)="sendLocalMessage($event.target.value)" style="font-size: 16px;"
                  placeholder="Leave a comment">
            </textarea>
          </mat-form-field>
        </form>
      </div>

    </div>
  </p-tabPanel>

</p-tabView>
