.room-container {
  overflow: hidden;
}

.chat-card {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1em;

}

.sidenav {
  height: 100%;
  width: 350px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  padding-top: 20px;
  word-break: break-all;
}

.main {
  /*margin-right: 350px; !* Same as the width of the sidenav *!*/
  /*padding-right: 10px;*/
}

.game-window {
  /*overflow: hidden;*/
  /*!*border:1px solid black;*!*/
  /*border-radius: 2px;*/
  /*background-color: #D4D4D4;*/
}


.flip-container {
  /*perspective: 1000px;*/
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;

}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.info {
  height: 60px;
  top: 20px;
  background-color: #D4D4D4;
  border-radius: 10px;
  margin-top: -5px;
  width: calc(50% - 310px);
  left: calc(50% - 70px);
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 5px;
  z-index: -100;
  /*margin-top: -10px;*/
}

button {
  width: 100%;
}

.button-row {
  margin-bottom: 5px;
  margin-top: 5px;
}

.col-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
