.room-container {
  overflow: hidden;
  transition: 0.5s;
  height: 800px;
}

.game-window {
  overflow: hidden;
  transition: 0.5s;
  height: 800px;
}

.my-hidden {
  height: 0;
  transition: 0.5s;
}

.flex-view {
  display: flex;
  flex-direction: row;
}

.main-view {
  display: block;
  flex: 1 1;
  padding: 10px 0 0 10px;
}

.chat-view {
  display: block;
  flex: 0 0 500px;
  padding: 10px 0 0 10px;
}

.chat-card {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1em;
}

.sidenav {
  height: 100%;
  width: 350px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  padding-top: 20px;
  word-break: break-all;
}

.main {
  /*margin-right: 350px; !* Same as the width of the sidenav *!*/
  /*padding-right: 10px;*/
}

button {
  width: 100%;
}

.control-buttons {
  display: flex;
}

.control-buttons > div {
  flex: 1 1;
}


@media screen and (max-width: 1200px) {
  .room-container {
    overflow: auto;
    height: auto;
  }

  .flex-view {
    display: block;
    position: relative;
  }

  .main-view {
    width: 100%;
    display: block;
  }

  .chat-view {
    width: 100%;
  }

  .game-window {
    overflow: auto;
    height: auto;
  }

  .my-hidden {
    height: 0;
  }
}
