

.my-hidden {
  flex: 0 0 !important;
}

.flex-view {
  display: flex;
  flex-direction: row;
}

.main-view {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  padding: 10px 0 0 10px;
  min-height: calc(100vh - 10px);
}

.chat-view {
  display: block;
  flex: 0 0 500px;
  padding: 10px 0 0 10px;
  height: calc(100vh - 10px);
}

.chat-card {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1em;
}

.control-buttons {
  margin-bottom: 10px;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
}

.control-buttons > div {
  flex: 1 1;
  margin-left: 10px;
}

.control-buttons > div:first-child {
  margin-left: 0;
}




.room-container {
  overflow: hidden;
  visibility: visible;
  flex: 1 1;
}

.game-window {
  overflow: hidden;
  visibility: visible;
  flex: 1 1;
}



.sidenav {
  height: 100%;
  width: 350px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  padding-top: 20px;
  word-break: break-all;
}

.main {
  /*margin-right: 350px; !* Same as the width of the sidenav *!*/
  /*padding-right: 10px;*/
}

button {
  width: 100%;
}





@media screen and (max-width: 1200px) {
  .room-container {
    overflow: auto;
    height: auto;
    min-height: auto;
  }

  .flex-view {
    display: block;
    position: relative;
  }

  .main-view {
    width: 100%;
    display: block;
  }

  .chat-view {
    width: 100%;
  }

  .game-window {
    overflow: auto;
    height: auto;
    min-height: auto;
  }

  .my-hidden {
    height: 0;
  }
}
