<!--<p-growl></p-growl>-->

<app-rooms-dialog #dialog></app-rooms-dialog>

<div class="main">

  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-6">
        <button *ngIf="createButtonState" pButton (click)="openDialog()" type="button" label="Utwórz pokój" icon="fa-plus"></button>
        <button *ngIf="backButtonState" pButton (click)="switchView()" type="button" label="{{!viewState ? 'Pokoje':'Gra'}}" icon="{{ !viewState ? 'fa-arrow-left' : 'fa-arrow-right' }}"></button>
        <button *ngIf="leaveButtonState" pButton type="button" (click)="leaveRoom()" class="ui-button-danger" label="Opuść pokój"></button>

      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="info">
          <p>{{ roomTitle ? "Twój pokój: " + roomTitle: "" }}</p>
          <p>{{ chooser ? "Odpowiedzi wybiera: " + chooser : "" }}</p>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-12">
            <div [@toggleAnimation]="viewState ? 'expanded' : 'collapsed'" class="room-container">
              <app-rooms> </app-rooms>
            </div>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12 ui-md-12">
            <div [@toggleAnimation]="viewState ? 'collapsed' : 'expanded'" class="game-window">
              <app-game-window></app-game-window>
            </div>
          </div>
        </div>


        <div class="ui-g room-container">
          <div class="ui-g-6 ui-md-3">XD</div>
          <div class="ui-g-6 ui-md-3">XD</div>
          <div class="ui-g-6 ui-md-3">XD</div>
          <div class="ui-g-6 ui-md-3">XD</div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12 ui-md-6">Phasellus faucibus purus volutpat mauris lacinia sodales. Ut sit amet sapien facilisis, commodo dui non, fringilla tellus. Quisque tempus facilisis nisi sodales finibus. Pellentesque neque orci, ullamcorper vitae ligula quis, dignissim euismod augue.</div>
          <div class="ui-g-12 ui-md-6">Fusce ullamcorper congue massa, eget ullamcorper nunc lobortis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices dui eget dolor feugiat dapibus. Aliquam pretium leo et egestas luctus. Nunc facilisis gravida tellus.</div>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <p-messages></p-messages>
    </div>

    <div class="ui-g-12">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            XDDD
          </div>
          <div class="back">
            SMUTEG
          </div>
        </div>
      </div>
    </div>



  </div>

</div>


<div class="sidenav">
  <app-chat></app-chat>
</div>
