
<app-rooms-dialog #dialog></app-rooms-dialog>

<div class="flex-view">
  <div class="main-view">
    <div class="control-buttons">
      <div *ngIf="createButtonState" class="create-button">
          <button  pButton (click)="openDialog()" type="button" label="Utwórz pokój" icon="fa-plus"></button>
      </div>
      <div *ngIf="backButtonState" class="back-button">
          <button  pButton (click)="switchView()" type="button" label="{{!viewState ? 'Pokoje':'Gra'}}" icon="{{ !viewState ? 'fa-arrow-left' : 'fa-arrow-right' }}"></button>
      </div>
      <div *ngIf="leaveButtonState" class="leave-button">
          <button  pButton type="button" (click)="leaveRoom()" class="ui-button-danger" label="Opuść pokój"></button>
      </div>
    </div>

    <div [ngClass]="!viewState ? 'my-hidden' : '' " class="room-container">
      <app-rooms> </app-rooms>
    </div>
    <div [ngClass]="viewState ? 'my-hidden' : '' " class="game-window">
      <app-game-window></app-game-window>
    </div>
  </div>
  <div class="chat-view">
    <app-chat></app-chat>
  </div>
</div>
