
<p-growl [value]="msgs"></p-growl>


<div class="container">
  <div class="card card-container">
    <h1 class="title">{{'access/title' | translate}}</h1>
    <p>{{'access/subtitle' | translate}}</p>
    <form class="form-signin" (submit)="f.form.valid && submit()" #f="ngForm">
      <input type="email" id="inputEmail" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" placeholder="{{'access/email' | translate}}" required autofocus>
      <input type="password" id="inputPassword" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" placeholder="{{'access/password' | translate}}" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{'access/login' | translate}}</button>
    </form>
    <a class="btn btn-sm btn-white btn-block" [routerLink]="['/register']" href="#">{{'access/create_account' | translate}}</a>
  </div>
</div>
